* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
}
body {
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  background-repeat: no-repeat;
}


/* Front Page Header */

.header {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  i {
    margin: .75rem;
  }
  justify-content: align-left;
  align-items: center;
}
.subHeaderImg {
  img {
    width: 15rem;
    border-radius: 3rem;
  }
}
.subHeaderLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    margin: 1rem;
  }

}

/* Skills Icon Group */ 

.skillsIconContainer {
  text-align: center;
  h2 {
    font-size: 3rem;
  }
}

.skillsIconGroup1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  i {
    margin: 1rem;
  }
}
.skillsIconGroup2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  i {
    margin: 1rem;
  }
}

/* Projects Group */
.projectsGroupContainer {
  text-align: center;
  h2 {
    margin-top: 5rem;
    font-size: 3rem;
  }
}
.projectsGroup1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.projectsGroup2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.projectCard {
  shadowOffset: {
    width: 0;
    height: 2;
  };
  box-shadow: 1rem 1rem 1rem 1rem black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  padding: 1rem;
  margin: 2rem;
  width: 33%;
  text-align: center;
  p {
    width: 50%;
  }
  .projectCardImg {
    width: 35rem;
  }
  a {
    margin: 1rem;
    text-decoration: none;
  }
}
.projectCard:hover {
  transition: 2s;
  width: 45%;
}

/* MEDIA QUERIES */

@media (max-width: 600px){
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .projectsGroup1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .projectCard {
      width: 75%;
      p {
        width: 100%;
      }
    }
  }
  .projectsGroup2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .projectCard {
      width: 75%;
      p {
        width: 100%;
      }
    }
  }
}